@page
@model Web_153501_Brykulskii.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures[0].ImageMimeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pictures) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageMimeType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
